<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.movan.cameraplugin">
    <application>
        <provider
            android:name="com.movan.cameraplugin.MyProvider"
            android:authorities="com.movan.cameraplugin.CameraPlugin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
